[Desktop Entry]
Type=Application
Name=JCL Clicker
Comment=Automação de cliques de mouse para Linux (X11 e Wayland)
Exec=/opt/jcl-clicker/jcl-clicker
Icon=/opt/jcl-clicker/jcl-clicker.png
Terminal=false
Categories=Utility;
