[Desktop Entry]
Type=Application
Name=JCL Clicker
Comment=Automação de cliques de mouse para Linux (X11 e Wayland)
Exec=jcl-clicker
Icon=jcl-clicker
Terminal=false
Categories=Utility;
